In [1]:
import pandas as pd

df = pd.read_csv('covid_19_clean_complete.csv')

df = df.groupby(['Date', 'Country/Region'])['Confirmed'].sum().reset_index()

df['Date'] = pd.to_datetime(df['Date'])

df = df.sort_values('Date')

df.head()

          Date Country/Region  Confirmed
0   2020-01-22    Afghanistan          0
120 2020-01-22          Nepal          0
121 2020-01-22    Netherlands          0
122 2020-01-22    New Zealand          0
123 2020-01-22      Nicaragua          0

In [2]:
df.dtypes

Date              datetime64[ns]
Country/Region            object
Confirmed                  int64
dtype: object

In [3]:
df = df.pivot(index='Country/Region', columns='Date', values='Confirmed').reset_index()
df.head()

Date,Country/Region,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,...,2020-09-27 00:00:00,2020-09-28 00:00:00,2020-09-29 00:00:00,2020-09-30 00:00:00,2020-10-01 00:00:00,2020-10-02 00:00:00,2020-10-03 00:00:00,2020-10-04 00:00:00,2020-10-05 00:00:00,2020-10-06 00:00:00
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,39227,39233,39254,39268,39285,39290,39297,39341,39422,39486
1,Albania,0,0,0,0,0,0,0,0,0,...,13259,13391,13518,13649,13806,13965,14117,14266,14410,14568
2,Algeria,0,0,0,0,0,0,0,0,0,...,51067,51213,51368,51530,51690,51847,51995,52136,52270,52399
3,Andorra,0,0,0,0,0,0,0,0,0,...,1836,1966,1966,2050,2050,2110,2110,2110,2370,2370
4,Angola,0,0,0,0,0,0,0,0,0,...,4718,4797,4905,4972,5114,5211,5370,5402,5530,5725

In [4]:
df.to_csv('flurish_data.csv')